<head>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<div class="footer">
    <div class="footer-icon">
        <a class="fa fa-weibo fa-lg" href="http://weibo.com/{{site.weibo_id}}" target="_blank"></a>
        <a class="fa fa-github fa-lg" href="https://github.com/{{site.github_id}}" target="_blank"></a>
        <a class="fa fa-inbox fa-lg" href="mailto:{{site.email}}" target="_blank"></a>
    </div>
    <div class="footer-copyright">
        &copy; 2007-2020 kikuchanj.com
    </div>
    <div style="display:none">
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?7bab2fd4b76055e4f3d7fff8b1c972e6";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
    </div>
</div>
