---
title: 关于
permalink: /about/
---

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/blog.css" />
    <title>{{ page.title }} - {{ site.name }}</title>    
</head>

<body>
    <div class="content-wrap">
        <div class="content-main">
            {% include header.html %}
            <div class="post-content">

                <p>鞠婧祎微博：<a href="https://weibo.com/3669102477">@鞠婧祎</a></p>
                <p><a href="https://www.kikuchanj.com">kikuchanj.com</a></p>
                
            </div>
        </div>
    </div>
    {% include footer.html %}
    {% include stats.html %}
</body>

</html>
